*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
.navbar{
  z-index: 1;
}
.nav-link{
  color: white !important;
}

.nav-link:hover{
  font-weight: bold;
  color: rgb(218, 97, 218) !important;
}

.navbar-brand{
  font-family: 'cabin', sans-serif;
  font-size: 32px;
  color: white !important;
}

.jumbotron{
  background-image: url(../img/jumbotron-bg.jpg);
  background-size: cover;
  height: 300px;
  margin-top: -75px;
}
.jumbotron .display-4{
  color: white;
  text-align: center;
  margin-top: 30px;
}
.jumbotron .lead{
  color: white;
  text-align: center;
  margin-top: 30px;
}

/* isi */
.bio-img{
  width: 50%;
}